*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

main{
    max-width: 1200px;
    margin: 0 auto;
}

/* HERO */
.hero{
    display: grid;
    margin: 20px  0 ;
    grid-template-columns: 1fr 1fr;

}

.hero .informationHero{
    align-self: center;
    margin: 0 20px ;
}

.hero .informationHero h1{
    font-size: 3rem;
    font-weight:700;
    color: #062935;
    margin-bottom: 20px;
}

.hero .informationHero p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero  img {
    width: 100%;

}

.hero .informationHero button{
    margin-top: 15px;
    padding: 10px 30px;
    background-color: #F97E2E;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 90px;
    transition: all .3s ease-in-out;
}

/* SERVICES */

h2 {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    color: #062935;
    margin: 50px 0 ;
}

.services .dishes{
    display: grid;
    grid-template-columns: repeat(4, minMax(150px, 200px)/* para que no se vea tan grandre */);
    grid-auto-rows:1fr ;
    grid-gap: 20px;
    margin: 20px 0;
    justify-content: center;
}

.services .dishes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services .dishes .big{
    grid-column: 1/3;
    grid-row: 1/3;
}


/* MENU */

.itemsMenu{
    display: grid;
    grid-template-columns: repeat(5, minMax(100px, 180px)/* para que no se vea tan grandre */);
    grid-auto-rows:1fr ;
    grid-gap: 20px;
    margin: 20px 0;
    justify-content: center;
}
.itemMenu{
    background-color:#FDEEEB ;
    border-top-left-radius: 20px;
}
.itemsMenu img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}